<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Response</title>

    <link rel="stylesheet" href="../static/style-sheets/style.css">
</head>
<body>


    <h1><%= name %> your Crush Score with <%= crush %> is <%= percentage %>%!</h1>

       

        <div class="container">

            

            <img src="../static/images/love_under_the_stars.png" alt="Couple hugging under the stars">
        


            <button onclick="history.back()">Click to go back!</button>

        </div>

        <footer>
            <div class="footer-container">
                <p>&copy; 2025 Crush Score. All rights reserved.</p>
                <p>Contact us at <a href="test@mail.com">test@mail.com</a></p>
            </div>
        </footer>
    
    
</body>
</html>